<ng-template *ngIf="tampil; then templatetrue; else templatefalse"></ng-template>

<ng-template #templatetrue>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="black"></ion-back-button>
       <ion-title>tab Detail</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
	<ion-content>
   <h3>Judul = {{judul}}</h3>
  <h3>Isi Note = {{isinote}}</h3>
  <h3>Tanggal = {{tanggal}}</h3>
  <h3>Nilai = {{nilai}}</h3>
    <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let isiFoto of allPhoto; index as position">
      <ion-img [src]="isiFoto"></ion-img>
        
      </ion-col>
   </ion-row>
  </ion-grid>
  <ion-button (click)="edit()">Edit</ion-button>
  <ion-button (click)="delete()" color="danger">Delete</ion-button>
</ion-content>
</ng-template>


<ng-template #templatefalse>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="black">Back to Detail</ion-back-button>
       <ion-title>tab Edit</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
	<ion-content>
  Judul = <ion-input [(ngModel)]="juduledit" placeholder="Edit Judul"></ion-input>
  Isi Note = <ion-input [(ngModel)]="isinoteedit"  placeholder="Edit isi note"></ion-input>
  Tanggal = <ion-input [(ngModel)]="tanggaledit"  placeholder="Edit tanggal"></ion-input>

  <ion-label>Nilai Notes: {{nilaiedit}}</ion-label>
  <ion-item>
    <ion-range [(ngModel)]="nilaiedit" min="0" max="10" color="secondary">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">10</ion-label>
    </ion-range>
  </ion-item>
  <ion-button (click)="TambahFoto()">
      <ion-icon name="camera"></ion-icon>
  </ion-button>
  <ion-button (click)="editNote()">Edit Now</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let isiFoto of ImageStorage; index as position">
      <ion-img [src]="isiFoto.webviewPath"></ion-img>
      <ion-list>
        <ion-checkbox (click)="SelectedFoto(isiFoto)" slot="end"></ion-checkbox>
       <ion-label>{{isiFoto.nama}}</ion-label>
     
               
      </ion-list>
        
      </ion-col>
   </ion-row>
  </ion-grid>
  
</ion-content>
</ng-template>
